[Unit]
Description=LKPrint

[Service]
Type=simple
ExecStart=/opt/lkprint/lkprint /etc/lkprint.conf
User=lkprint
Group=lkprint

[Install]
WantedBy=multi-user.target
